@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto-bold_1-webfont.woff2') format('woff2'),
       url('fonts/roboto-bold_1-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto-light_1-webfont.woff2') format('woff2'),
       url('fonts/roboto-light_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
       url('fonts/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face { 
  font-family: 'roboto';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}